body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;    
}
 h1 {
     margin: 0;
     margin-bottom: .5rem;
 }
 .input {
     border: 1px solid #aa1d1d;
     border-radius: .3em;
     padding: .25rem;
     width: 7em;
 }
 select {
     margin-left: .5rem;
     border: 1px solid #aa1d1d;
     border-radius: .4em;

 }
 .equals {
     border-radius: 1rem;
     font-weight: bold;
     font-size: 3rem;
     color: #aa1d1d;
     
     
     
 }
 .top {
    border: 1px solid #aa1d1d;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
 }